<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/bootstrap.css" />
    <link rel="stylesheet" href="/assets/css/bootstrap-grid.css" />
    <link rel="stylesheet" href="/assets/css/myStyle.css" />
    <title>Home</title>
  </head>
  <body>
    <header class="nav">
      <section class="signuser">
        <section class="container">
          <ul class="usernav">
            <li><a href="#">Sign Up</a></li>
            <li><a href="#">Log in</a></li>
          </ul>
        </section>
        <!--container-->
        <div class="clear"></div>
      </section>
      <!--signuer-->
      <section class="backgr">
        <section class="container move">
          <div class="navigation">
            <div class="logo">
              <img src="/assets/images/logo.png" alt="logo" />
            </div>
            <!--logo-->

            <div class="menu-desktop">
              <ul class="align">
                <li><a href="#">Services</a></li>
                <li><a href="#">Alumi</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
            <!--menu-desktop-->
          </div>
          <!--navigation-->
        </section>
        <!--container-->
      </section>
      <!--backgr-->
    </header>

    <main role="main">
      <section
        id="carouselImg"
        class="carousel slide carousel-fade banners w70"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/assets/images/slide1.jpg" class="d-block" alt="..." />
            <div class="carousel-caption d-xs-block d-md-block">
              <div class="container formatter">
                <h1>Primeiro slide label</h1>
                <p>
                  Some representative placeholder content for the first slide.
                </p>
                <a class="btn btn-primary"
                  >Leia Mais<img src="/assets/svgs/anglearrowhite.svg"
                /></a>
                <a class="btn btn-warning"
                  >Contacto-nos<img src="/assets/svgs/anglearrowhiteblue.svg"
                /></a>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/assets/images/slide2.jpg" class="d-block" alt="..." />
            <div class="carousel-caption d-xs-block d-md-block">
              <div class="container formatter">
                <h1>Segundo slide label</h1>
                <p>
                  Some representative placeholder content for the first slide.
                </p>
                <a class="btn btn-primary"
                  >Leia Mais<img src="/assets/svgs/anglearrowhite.svg"
                /></a>
                <a class="btn btn-warning"
                  >Contacto-nos<img src="/assets/svgs/anglearrowhiteblue.svg"
                /></a>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/assets/images/slide3.jpg" class="d-block" alt="..." />
            <div class="carousel-caption d-xs-block d-md-block">
              <div class="container formatter">
                <h1>Terceiro slide label</h1>
                <p>
                  Some representative placeholder content for the first slide.
                </p>
                <a class="btn btn-primary"
                  >Leia Mais<img src="/assets/svgs/anglearrowhite.svg"
                /></a>
                <a class="btn btn-warning"
                  >Contacto-nos<img src="/assets/svgs/anglearrowhiteblue.svg"
                /></a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <img src="/assets/images/slide4.jpg" class="d-block" alt="..." />
            <div class="carousel-caption d-xs-block d-md-block">
              <div class="container formatter">
                <h1>Quarto slide label</h1>
                <p>
                  Some representative placeholder content for the first slide.
                </p>
                <a class="btn btn-primary"
                  >Leia Mais<img src="/assets/svgs/anglearrowhite.svg"
                /></a>
                <a class="btn btn-warning"
                  >Contacto-nos<img src="/assets/svgs/anglearrowhiteblue.svg"
                /></a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <img src="/assets/images/slide5.jpg" class="d-block" alt="..." />
            <div class="carousel-caption d-xs-block d-md-block">
              <div class="container formatter">
                <h1>Quinto slide label</h1>
                <p>
                  Some representative placeholder content for the first slide.
                </p>
                <a class="btn btn-primary"
                  >Leia Mais<img src="/assets/svgs/anglearrowhite.svg"
                /></a>
                <a class="btn btn-warning"
                  >Contacto-nos<img src="/assets/svgs/anglearrowhiteblue.svg"
                /></a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <img src="/assets/images/slide6.jpg" class="d-block" alt="..." />
            <div class="carousel-caption d-xs-block d-md-block">
              <div class="container formatter">
                <h1>Sexto slide label</h1>
                <p>
                  Some representative placeholder content for the first slide.
                </p>
                <a class="btn btn-primary"
                  >Leia Mais<img src="/assets/svgs/anglearrowhite.svg"
                /></a>
                <a class="btn btn-warning"
                  >Contacto-nos<img src="/assets/svgs/anglearrowhiteblue.svg"
                /></a>
              </div>
            </div>
          </div>
        </div>
        <a
          class="carousel-control-prev"
          type="a"
          data-bs-target="#carouselImg"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          type="a"
          data-bs-target="#carouselImg"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </a>
      </section>
      <!--Slider-->

      <section class="justify">
        <div class="container">
          <div class="row justify-content-center text-center">
            <h1>Seja Bem-Vindo ao Event</h1>
            <p class="formating">Escolha o Event com os melhores consultores</p>
            <span class="short"></span>
          </div>
          <!--text-center-->

          <div class="row mt-4 mt-md-5">
            <div class="col-sm-6 col-lg-3 mt-4">
              <div class="circle ring-icon mx-auto">
                <img src="/assets/svgs/estatisticas.svg" alt="" />
              </div>
              <h5 class="mt-4">Consultoria de Negócios</h5>
              <p class="formating">
                Solução para todos os problemas relacionados ao negócio, com
                rapidez e habilidade.
              </p>
            </div>
            <!--col-sm-6 -->
            <div class="col-sm-6 col-lg-3 mt-4">
              <div class="circle ring-icon mx-auto">
                <img src="/assets/svgs/sino.svg" alt="" />
              </div>
              <!--col-sm-6 -->
              <h5 class="mt-4">Gerenciamento de Riscos</h5>
              <p class="formating">
                Calcule todos os riscos possíveis em seu negócio, tome controle
                sobre eles.
              </p>
            </div>
            <!--col-sm-6 -->
            <div class="col-sm-6 col-lg-3 mt-4">
              <div class="circle ring-icon mx-auto">
                <img src="/assets/svgs/light.svg" alt="" />
              </div>
              <h5 class="mt-4">Pesquisa de Mercado</h5>
              <p class="formating">
                Conheça o mercado antes de dar qualquer passo, reduza riscos
                antes de ir.
              </p>
            </div>
            <!--col-sm-6 -->
            <div class="col-sm-6 col-lg-3 mt-4">
              <div class="circle ring-icon mx-auto">
                <img src="/assets/svgs/fone.svg" alt="" />
              </div>
              <h5 class="mt-4">Serviços de Qualidade</h5>
              <p class="formating">
                Experience unparalleled service, from beginning to final
                construction.
              </p>
            </div>
            <!--col-sm-6 -->
          </div>
          <!--mt-4 mt-md-5 row -->
        </div>
        <!--container-->
      </section>
      <!--justify-->

      <section class="pt-0">
        <div class="container">
          <div class="row flex-center text-center pb-6">
            <div class="col-12">
              <div
                class="position-relative mt-4 py-5 py-md-11"
                style="height: 600px"
              >
                <div class="bg-holder rounded-3 videoImages">
                  <iframe
                    class="bg-holder rounded-3"
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/PfxLRA2bJ3A"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                  ></iframe>

                  <!-- <button class="btn-event-player videoModel">
                    <img src="/assets/svgs/toque.svg" alt="consulting" />
                  </button> PARA BUTAO PLAYER -->

                  <!--btn-event-->
                </div>
                <!--/.bg-holder-->
              </div>
            </div>
            <!--col-12-->
          </div>
          <!-- row flex-center-->

          <div class="row mt-5">
            <div class="col-sm-6 col-lg-4 mt-5 mt-lg-0 px-4 px-sm-3 textJustify">
              <h5><img src="/assets/svgs/usuarios.svg" alt=""> Equipe Oncrível</h5>
              <p>
                Antes de falar sobre o destino, destacamos a sua organização
                para compreendê-lo completamente.
              </p>
            </div>

            <div class="col-sm-6 col-lg-4 mt-5 mt-lg-0 px-4 px-sm-3 textJustify ">
              <h5><img src="/assets/svgs/comments.svg" alt=""> Excelente Suporte</h5>
              <p>
                Se você enfrentar algum problema, sempre poderá deixar nossa
                equipe de suporte dedicada ajudá-lo. Eles estão prontos para
                você 24/7.
              </p>
            </div>

            <div class="col-sm-6 col-lg-4 mt-5 mt-lg-0 px-4 px-sm-3 textJustify">
              <h5><img src="/assets/svgs/bolt.svg" alt=""> Desempenho Rápido</h5>
              <p>
                Desenvolvemos um processo sistemático e bem ordenado de análise,
                desde o conceito até a implementação.
              </p>
            </div>
          </div>
          <!--row-->
        </div>
        <!--container-->
      </section>
      <!--section close -->

      <section class="services bg-services">
        <div class="container">
          <div class="row justify-content-center text-center ">
            <h1>Nossos Serviços</h1>
            <span class="short"></span>
          </div>

          <div class="mosaico">
          

          </div> <!--mosaicos-->

          
        </div>
      </section> <!--close section-->
    </main>

    <script src="/assets/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/assets/js/bootstrap.js"></script>
  </body>
</html>
